{% extends "base.html" %}

{% block content %}
<article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-yellow dark-pink mb5">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    Your Books. Organized like never before.
  </h1>
  <h2 class="fw2 f4 lh-copy mt0 mb3">
    This is a wonderfully idyllic repository for all of your books, virtual and COVID free. 
  </h2>
  <p class="fw1 f5 mt0 mb3">
    Sign up for beta access or learn more about x.
  </p>
  <div>
    <a class="f6 br-pill bg-dark-pink no-underline washed-green ba b--dark-pink grow pv2 ph3 dib mr3" href={% url 'registration_register' %}>
      Sign Up
    </a>
  </div>
</article>
{% endblock content %}
