{% extends "base.html" %}

{% block content %}
<div class="w-33 pa3">
  <h1>Book Details</h1>
  <h2><i>{{ book.title }}</i></h2>

  {% if book.author %}
  <div class="flex">
    <div class="pr2"><i class="icofont-phone"></i></div>
    <div><b>Author:</b> {{ book.author }}</div>
  </div>
  {% endif %}

  {% if book.description %}
  <div class="flex">
    <div class="pr2"><i class="icofont-ui-email"></i></div>
    <div><b>Description:</b> {{ book.description }}</div>
  </div>
  {% endif %}

  {% if book.date_added %}
  <div class="flex">
    <div class="pr2"><i class="icofont-ui-email"></i></div>
    <div><b>Date Added:</b> {{ book.date_added }}</div>
  </div>
  {% endif %}

  {% if book.artwork %}
  <a href="{% url 'show_book' pk=book.pk %}"><img src="{{ book.artwork }}"></a>
  {% endif %}

  <p>
    <a style="text-decoration:none" href="{% url 'edit_book' pk=book.pk %}">Edit Book</a><br>
    <a style="text-decoration:none" class="red" href="{% url 'delete_book' pk=book.pk %}">Delete Book</a>
  </p>
  
  {% for category in book.categories.all %}
  <a style="text-decoration:none" href= {% url 'show_category' category.slug %} >{{ category }}</a>
  {% endfor %}

<a style="text-decoration:none" href={% url 'list_books' %}>Back to all books</a>
</div>
{% endblock %}
